canvas {
  padding: 0;
  margin: 0 auto;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.footer {
  position: absolute;
  bottom: -10px;
  font-size: 18px;
  /* color: white; */
}

a,
a:visited {
  color: red;
}
