canvas {
  padding: 0;
  margin: 0 auto;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #34b177;
}
h3 {
  margin: 5px 0;
}
p {
  display: inline;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.btn {
  position: absolute;
  width: 30px;
  top: 72%;
  right: 0.5%;
}
.hide {
  display: none;
}

.info:hover + .instructions {
  /* height: calc(100%0px); */
  padding: 20px 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  right: 2%;
  gap: 30px;
  top: 45%;
  width: 250px;
  border-radius: 30px;
  /* vertical-align: center; */
  background-color: #0c3747;
  position: absolute;
  color: #bfc0c0;
}
.instructions h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.ctrl {
  display: flex;
  justify-content: space-between;
}
.enter {
  /* width: 45px; */
  fill: white;
  stroke: yellow;
  stroke-width: 30px;
}
img {
  width: 25px;
}

.footer {
  position: absolute;
  bottom: 0px;
  font-size: 18px;
}
.fa-heart {
  color: rgb(255, 0, 0);
}
.fa-mug-hot {
  color: rgb(145, 0, 0);
}
