canvas {
  padding: 0;
  margin: 0 auto;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #137547;
}
p {
  display: inline;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.instructions {
  height: 100%;
  top:50%;
  /* vertical-align: center; */
  position: absolute;
  color: pink;
}

.footer {
  position: absolute;
  bottom: 0px;
  font-size: 18px;
}
.fa-heart {
  color: red;
}
.fa-mug-hot {
  color: brown;
}
